.Contact-container{
    padding: 20px 100px;
    display: flex;
    min-height: 1000px;
    .Contact-content{
        width: 100%;
        border: 1px solid #d9d9d9;
        background-color: white;
        padding: 0 10px;
        .Contact-content-title{ 
            margin-top: 10px;
            background-color: #273272;
            color: white;
            padding: 10px;
        }
        .Contact-content-main{
            padding: 10px 15px; 
            display: flex;
            flex-direction: column;
            .Contact-content-main-item{
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                .title{
                    color: #273272;
                    font-weight: bold;
                }
            }
        }
    }
}