.CourseItem-container{
    display: flex;
    padding: 15px 0px;
    border-bottom: 1px solid #d9d9d9;
    .CourseItem-image{
        img{
            width: 120px;
            height: 90px;
        }
    }
    .CourseItem-content{
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-left: 20px;
        .CourseItem-dot{
            width:8px;
            height: 6px;
            background-color: #273272;
            margin: 10px 10px 8px 0;
        }
        .CourseItem-title{
            span{
                font-size: 14px;
                &:hover{
                    cursor: pointer;
                    color: #273272;
                    text-decoration: underline;
                }
            }
            .CourseItem-title-text{
                font-size: 14px;
                font-weight: 600;
                color: black;
            }
            
        }
        .CourseItem-description{
            font-size: 13px;
        }
    }
}