.App-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
    background-color: #f8f9fa;

    .App-register-title{
        font-weight: bold;
        font-size: 30px;
        color: #273272;
    }
    .App-register-form{
        width: 1000px;
        border: 1px solid #dee2e6;
        padding: 30px;
        border-radius: 5px;
        background-color: white;
        .btn-register-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btn-register{
                width: 100%;
                background-color: #273272;
                color: white;
                border-radius: 5px;
                border: none;
                outline: none;
                cursor: pointer;
                margin-top: 20px;
                height: 38px;
              
            }
        }
        .btn_register{
            width: 120px;
            background-color: #273272;
            color: white;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
            margin-top: 20px;
            height: 38px;
        }
    }
}