.EventItem-container{
    display: flex;
    padding: 15px 0px;
    border-bottom: 1px solid #d9d9d9;
    .EventItem-image{
        img{
            width: 120px;
            height: 90px;
        }
    }
    .EventItem-content{
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-left: 20px;
        .EventItem-dot{
            width:6px !important;
            height: 6px;
            background-color: #273272;
            margin: 10px 10px 8px 0;
        }
        .EventItem-title{
            span{
                font-size: 14px;
                font-weight: 600;
                color: black;
                &:hover{
                    cursor: pointer;
                    color: #273272;
                    text-decoration: underline;
                }
            }
            .EventItem-description{
                font-size: 14px;
            }
        }
    }
}