.UserProfile-container{
    .UserProfile-title{
        margin-bottom: 10px;
        color: #273272;
        font-size: 24px;
        font-weight: 600;
    }
    .btn_update{
        width: 120px;
        background-color: #273272;
        color: white;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 20px;
        height: 38px;
    }
}