.News-container{
    display: flex;
    width: 100%;
    min-height: 200px;
    margin-top: 30px;
    padding: 20px 100px;
    .News-content{
        padding: 0 10px;
        background-color: white;
        .News-content-title{
            margin-top: 10px;
            background-color: #273272;
            color: white;
            padding: 10px;
        }
        border-right: 1px solid #d9d9d9;
        .News-content-item{
            .News-content-pagination{
            }
            .active>.page-link, .page-link.active {
                background-color: #273272;
                color: white;
                border-color: #273272;
            }
        }
    }
    .News-content-feature{
        padding: 0 10px;
        background-color: white;
        .News-content-feature-title{
            margin-top: 10px;
            background-color: #273272;
            color: white;
            padding: 10px;
        }
    }

}