.NewItems-container {
    display: flex;
    align-items: center; 
    justify-content: start;
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 0px;

    .NewItems-dot {
        width: 8px;
        background-color: #273272;
        margin-right: 10px; 
    }

    .NewItems-title {
        .NewItems-title-text {
            font-size: 13px;
            text-decoration: none;  
            &:hover {
                cursor: pointer;
                color: #273272;
                text-decoration: underline;
            }
        }
    }
}
