.Home-container{
    // margin-top: 30px;
    .Home-slider{
        height:500px;
        border-bottom: 1px solid #d9d9d9;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        z-index: 1000;
        img{
            width: 100%;
            height: 500px;
            object-fit: cover;
            // object-position: 50% 50%;
        }
    }
    .Home-content{
        margin-top: 30px;
        padding: 20px 100px;
        display: flex;
        flex-direction: column;
        height:100%;
        .Home-content-courses-and-news{
            display: flex;
            height: 100%;
            .Home-content-courses{
                padding :10px 10px 30px 10px;
                height: 100%;
                background-color: white;
                border-right: 1px solid #d9d9d9;
                .Home-content-courses-title
                {   
                    background-color:#273272;
                    color: white;
                    width: 100%;
                    padding: 10px;
                }
                .Home-content-courses-list{
                    .Home-content-courses-more{
                       display: flex;
                       justify-content: end;
                       align-items: center;
                       span{
                        text-align: end;
                        margin-top: 10px;
                        font-size: 14px;
                        cursor: pointer;
                        font-style: italic;
                        text-decoration: underline;
    
                        &:hover{
                            color: #273272;
                        }
                       }
                    }
                }
            }
            .Home-content-news{
                padding :10px 10px 30px 10px;
                min-height: 477px;
                background-color: white;
                .Home-content-news-title{
                    display: flex;
                    align-items: center;
                    background-color: #273272;
                    color: white;
                    width: 100%;
                    padding: 10px;
                }
                .Home-content-news-list{
                    
                    .Home-content-news-more{
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        text-align: end;
                        margin-top: 10px;
                        font-size: 14px;
                        cursor: pointer;
                        font-style: italic;
                        text-decoration: underline;
    
                        &:hover{
                            color: #273272;
                        }
                    }
                }
            }
        }
        .Home-content-events{
            margin-top: 20px;
            padding :10px 10px 30px 10px;
            height: 100%;
            background-color: white;
            .Home-content-events-title{
                display: flex;
                align-items: center;
                background-color: #273272;
                color: white;
                width: 100%;
                padding: 10px;
            }
            .Home-content-events-list{
                    
                .Home-content-events-more{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    text-align: end;
                    margin-top: 10px;
                    font-size: 14px;
                    cursor: pointer;
                    font-style: italic;
                    text-decoration: underline;

                    &:hover{
                        color: #273272;
                    }
                }
            }
        }
    }
}